Source: microcom
Section: comm
Priority: extra
Maintainer: Uwe Kleine-König <u.kleine-koenig@pengutronix.de>
Build-Depends: debhelper (>= 9), docbook-to-man, libreadline6-dev, dpkg-dev (>= 1.16.1~)
Standards-Version: 3.9.4
Homepage: http://git.pengutronix.de/?p=tools/microcom.git;a=tags

Package: microcom
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: minimalistic terminal program
 microcom is a minimalistic terminal program for accessing devices (e.g.
 switches) via a serial connection.  It features connection via RS232
 serial interfaces (including setting of transferrates) as well as in
 "telnetmode" as specified in rfc2217.

